# Giscus Comments Configuration (Preferred to set in src/config.yaml instead)
# Obtain these values from https://giscus.app/
# PUBLIC_GISCUS_REPO=your-github-username/your-discussions-repo
# PUBLIC_GISCUS_REPO_ID=
# PUBLIC_GISCUS_CATEGORY=Announcements
# PUBLIC_GISCUS_CATEGORY_ID=

# Cloudflare Configuration
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ZONE_ID=
DOMAIN=your-blog.com
CLOUDFLARE_PROJECT_NAME=your-project-name

