---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'About',
};
---

<Layout metadata={metadata}>
  <Hero tagline="About me">
    <Fragment slot="title">
      Hi, I'm <span class="text-accent dark:text-white">Bernhard</span>
    </Fragment>

    <Fragment slot="subtitle">
      Welcome to my personal blog. I write about what's on my mind and what I'd like to remember.
      <br /><br />
      <!-- Edit this section with your own bio -->
      After fourty great years in California I am returning to my hometown, Zürich looking forward to another fourty (or
      whatever I am entitled to ...) equally wonderful years.
    </Fragment>
  </Hero>
</Layout>
