---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'About',
};
---

<Layout metadata={metadata}>
  <Hero tagline="Bernhard">
    <Fragment slot="subtitle">
      <div class="text-justify">
        After fourty great years in California I am returning to my hometown, Zürich looking forward to an equally
        wonderful time in Zürich. In this blog I share my thoughts on this change, my visits, and projects I am working
        on.
      </div>
    </Fragment>
  </Hero>
</Layout>
