---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'About',
};
---

<Layout metadata={metadata}>
  <Hero tagline="Some Name">
    <Fragment slot="subtitle">
      <div class="text-justify">
        I am ...
      </div>
    </Fragment>
  </Hero>
</Layout>
