---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { METADATA, SITE } from 'astrowind:config';

const metadata = {
  title: METADATA.title?.default || SITE.name,
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero -->
  <Hero
    actions={[
      { variant: 'primary', text: 'Read the blog', href: '/blog' },
      { text: 'About me', href: '/about' },
    ]}
  >
    <Fragment slot="title">
      Welcome to <span class="text-accent dark:text-white">{SITE.name}</span>
    </Fragment>

    <Fragment slot="subtitle"> {METADATA.description} </Fragment>
  </Hero>

  <!-- Latest Posts -->
  <BlogLatestPosts title="Latest posts" information="Recent writing from the blog." />
</Layout>
