---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';

const metadata = {
  title: 'Privacy Policy',
};
---

<Layout metadata={metadata}>
  <HeroText tagline="Privacy" title="Privacy Policy" />

  <section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-4xl">
    <div class="prose prose-lg dark:prose-invert max-w-none">
      <p>
        Your privacy is important to us. It is Boser-Guyon's policy to respect your privacy regarding any information we
        may collect from you across our website.
      </p>

      <h2>1. Information We Collect</h2>
      <p>
        We only ask for personal information when we truly need it to provide a service to you (for example, if you
        subscribe to our newsletter or use the contact form). We collect it by fair and lawful means, with your
        knowledge and consent.
      </p>

      <h2>2. Use of Information</h2>
      <p>
        We only retain collected information for as long as necessary to provide you with your requested service. What
        data we store, we'll protect within commercially acceptable means to prevent loss and theft, as well as
        unauthorized access, disclosure, copying, use, or modification.
      </p>

      <h2>3. Third-Party Services</h2>
      <p>
        We may use third-party services such as Google Analytics or Giscus for comments. These services may collect
        information used to identify you.
      </p>

      <h2>4. Cookies</h2>
      <p>
        We use cookies to understand and save user's preferences for future visits and compile aggregate data about site
        traffic and site interactions in order to offer better site experiences and tools in the future.
      </p>

      <h2>5. Contact Us</h2>
      <p>If you have any questions about how we handle user data and personal information, feel free to contact us.</p>
    </div>
  </section>
</Layout>
